body {
    color: rgba(255, 255, 255, 0.95);
    margin: 0;
    padding: 0;
    font-family: 'BlenderProBook';
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.pValue {
    text-shadow: 0 0px 2px black;
}

.lack {
    text-decoration: none;
}

p, h1, ul, li {
    text-shadow: black 0px 0px 10px;
}
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.main-content {
    background-image: url('../pexels-felixmittermeier-956999 (1).jpg');
    background-size: repeat;
    padding: 1% 0% 0% 0%;
    min-height: 100vh;
    animation: animatedBackground 600s linear infinite;
}

.set-back{

}


.hover-style:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.button-home{
    font-size: 1vw;
    font-family: 'Games', sans-serif;
}
.menu-list{
    font-family: 'Games', sans-serif;
}
.gotCenter{
    font-size: 2vw;
}
.university{
    font-size: 1.7vw
}
.degree{
    font-size: 1.1vw
}
.concentration{
    font-size: 1vw
}
.title-lang{
    font-size: 1.5vw;
}
.lan-boot{
    font-size: 1vw;
}

.graphic {
    width: 1.8vw;
    display: block;
}

.project-name{
    font-size: 2vw;
    color: #00ff9f;
}
.separate{
    font-size: 1.5vw;
}

.imger{
    width: 20vw;
}
#body-text{
    font-size: 2vw;
}


.changes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.changes2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.sticky {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #particles-js {
    padding-top: 5%;
}

#particles-js {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(18,18,18,1) 100%);
}

.symbolborders{
    border-bottom: 2px solid #00ff9f;
    text-align: center;
}


@media (max-width: 500px) {
    .gotCenter {
        font-size: 4vw;
    }
    .font-title{
        font-size: 4vw;
    }
    .font-list{
        font-size: 3vw;
    }
    #main-menu{
        flex-direction: column;

    }

    .button-home{
        font-size: 2vw;
    }
    .university{
        font-size: 4vw
    }
    .degree{
        font-size: 3vw
    }
    .concentration{
        font-size: 2.5vw
    }
    .title-lang{
        font-size: 4vw;
    }
    .lan-boot{
        font-size: 3vw;
    }

    .hover-style{
        flex-direction: column-reverse;

    }

    .separate{
        font-size: 3vw;
    }
    .project-name{
        font-size: 3.5vw;
        color: #00ff9f;
    }
    #projects{

    }
    .imger{
        width: 40vw;

    }

    #body-text{
        font-size: 3vw;
    }





}